<h1>Search</h1>
<p>
  <input type="text" #newquery [value]="query" (keydown.enter)="submit(newquery.value)">
  <button (click)="submit(newquery.value)">Search</button>
</p>
<div *ngIf="results">
  <div *ngIf="!results.length">
    No tracks were found with the item {{query}}
  </div>
  <div *ngIf="results.length">
    <h1>Results</h1>
    <div>
      <div *ngFor="let item of results">
        <div>
          <div class="content">
            <img src="{{item.album.images[0].url}}">
            <div class="caption">
              <h3>
                <a [routerLink]="['/artists',item.artists[0].id]">
                  {{item.artists[0].name}}
                </a>
              </h3>
              <br>
              <p>
                <a [routerLink]="['/tracks',item.id]">
                  {{item.name}}
                </a>
              </p>
            </div>
            <div class="attribution">
              <h4>
                <a [routerLink]="['/albums',item.id]">
                  {{item.album.name}}
                </a>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
